*{
    margin: 0;
    padding: 0;
}
body
{
    margin: 50px;
    padding: 50px;
    
}
h2{
    text-align: center;
    width: 61.5%;
    margin-left: -1.2%;

}
.row img{
    width: 60%;
    height: fit-content;
}